{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">PegaBus</h6>
        </div>
        <div class="contact-details">
          <p>Ibirubá - Rio Grande do Sul</p>
          <p>Telefones:<br> 999999999</p>
          <p>Email: <a href="mailto:admin@pegabus.com">admin@pegabus.com</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <p>Links Rápidos</p>
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li> <a href="">Contatos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Instituto Federal do Rio Grande do Sul - Campus Ibirubá</p>
          <p>&copy; {% now "Y" %}. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6 text-right">
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>